#container
  if badgeInfo
    h1 JALA AGILE TRACKER
    h2 CONGRATULATIONS YOU JUST WON A BADGE
    P PROJECT NAME: #{badgeInfo.ProjectName}
    P BADGE: #{badgeInfo.BadgeName}
    p DESCRIPTION OF THE BADGE : #{badgeInfo.Description}
    p COMMENTS OF THE AWARD : #{badgeInfo.Comments}
    p DATE OF THE AWARD : #{badgeInfo.Data}